EMU/exsys/ExsysCore/src/org/cern/cms/csc/dw/schema/tmbCounterDescriptionDSE.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://www.cern.ch/cms/csc/dw/model/dse"
    xmlns:tns="http://www.cern.ch/cms/csc/dw/model/dse"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    elementFormDefault="qualified"
	xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
	xmlns:hj="http://hyperjaxb3.jvnet.org/ejb/schemas/customizations"
	xmlns:orm="http://java.sun.com/xml/ns/persistence/orm"
	xmlns:xjc="http://java.sun.com/xml/ns/jaxb/xjc"
        xmlns:cu="http://jaxb.dev.java.net/plugin/classutils"
    xsi:schemaLocation="
        http://java.sun.com/xml/ns/jaxb ext/bindingschema_2_0.xsd
        http://java.sun.com/xml/ns/persistence/orm ext/orm_1_0.xsd
        http://hyperjaxb3.jvnet.org/ejb/schemas/customizations ext/customizations.xsd"
	jaxb:extensionBindingPrefixes="xjc orm hj cu"
	jaxb:version="2.0">

    <xsd:element name="tmbCounterDescriptionDSE"
                 type="tns:tmbCounterDescriptionDSEType"
                 substitutionGroup="tns:dataServiceEntity"/>

    <xsd:complexType name="tmbCounterDescriptionDSEType">
        <xsd:annotation>
            <xsd:appinfo>
                <jaxb:class name="TmbCounterDescriptionDSE"/>
                <cu:extends name="org.cern.cms.csc.dw.model.dse.DataServiceEntity"/>
                <hj:entity>
                    <orm:table name="CDW_DSE_TMB_CNT_DESCRIPTIONS"/>
                </hj:entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="tns:dataServiceEntityType">
                <xsd:sequence>

                    <xsd:element name="version" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:id>
                                    <orm:column name="FCT_VERSION" length="4"/>
                                </hj:id>
                                <jaxb:property name="version"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc00description" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC00_DESC"/>
                                </hj:basic>
                                <jaxb:property name="tc00description"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc01description" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC01_DESC"/>
                                </hj:basic>
                                <jaxb:property name="tc01description"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc02description" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC02_DESC"/>
                                </hj:basic>
                                <jaxb:property name="tc02description"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc03description" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC03_DESC"/>
                                </hj:basic>
                                <jaxb:property name="tc03description"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc04description" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC04_DESC"/>
                                </hj:basic>
                                <jaxb:property name="tc04description"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc05description" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC05_DESC"/>
                                </hj:basic>
                                <jaxb:property name="tc05description"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc06description" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC06_DESC"/>
                                </hj:basic>
                                <jaxb:property name="tc06description"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc07description" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC07_DESC"/>
                                </hj:basic>
                                <jaxb:property name="tc07description"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc08description" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC08_DESC"/>
                                </hj:basic>
                                <jaxb:property name="tc08description"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc09description" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC09_DESC"/>
                                </hj:basic>
                                <jaxb:property name="tc09description"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc10description" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC10_DESC"/>
                                </hj:basic>
                                <jaxb:property name="tc10description"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc11description" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC11_DESC"/>
                                </hj:basic>
                                <jaxb:property name="tc11description"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc12description" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC12_DESC"/>
                                </hj:basic>
                                <jaxb:property name="tc12description"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc13description" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC13_DESC"/>
                                </hj:basic>
                                <jaxb:property name="tc13description"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc14description" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC14_DESC"/>
                                </hj:basic>
                                <jaxb:property name="tc14description"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc15description" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC15_DESC"/>
                                </hj:basic>
                                <jaxb:property name="tc15description"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc16description" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC16_DESC"/>
                                </hj:basic>
                                <jaxb:property name="tc16description"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc17description" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC17_DESC"/>
                                </hj:basic>
                                <jaxb:property name="tc17description"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc18description" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC18_DESC"/>
                                </hj:basic>
                                <jaxb:property name="tc18description"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc19description" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC19_DESC"/>
                                </hj:basic>
                                <jaxb:property name="tc19description"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc20description" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC20_DESC"/>
                                </hj:basic>
                                <jaxb:property name="tc20description"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc21description" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC21_DESC"/>
                                </hj:basic>
                                <jaxb:property name="tc21description"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc22description" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC22_DESC"/>
                                </hj:basic>
                                <jaxb:property name="tc22description"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc23description" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC23_DESC"/>
                                </hj:basic>
                                <jaxb:property name="tc23description"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc24description" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC24_DESC"/>
                                </hj:basic>
                                <jaxb:property name="tc24description"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc25description" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC25_DESC"/>
                                </hj:basic>
                                <jaxb:property name="tc25description"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc26description" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC26_DESC"/>
                                </hj:basic>
                                <jaxb:property name="tc26description"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc27description" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC27_DESC"/>
                                </hj:basic>
                                <jaxb:property name="tc27description"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc28description" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC28_DESC"/>
                                </hj:basic>
                                <jaxb:property name="tc28description"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc29description" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC29_DESC"/>
                                </hj:basic>
                                <jaxb:property name="tc29description"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc30description" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC30_DESC"/>
                                </hj:basic>
                                <jaxb:property name="tc30description"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc31description" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC31_DESC"/>
                                </hj:basic>
                                <jaxb:property name="tc31description"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc32description" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC32_DESC"/>
                                </hj:basic>
                                <jaxb:property name="tc32description"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc33description" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC33_DESC"/>
                                </hj:basic>
                                <jaxb:property name="tc33description"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc34description" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC34_DESC"/>
                                </hj:basic>
                                <jaxb:property name="tc34description"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc35description" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC35_DESC"/>
                                </hj:basic>
                                <jaxb:property name="tc35description"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc36description" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC36_DESC"/>
                                </hj:basic>
                                <jaxb:property name="tc36description"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc37description" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC37_DESC"/>
                                </hj:basic>
                                <jaxb:property name="tc37description"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc38description" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC38_DESC"/>
                                </hj:basic>
                                <jaxb:property name="tc38description"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc39description" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC39_DESC"/>
                                </hj:basic>
                                <jaxb:property name="tc39description"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc40description" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC40_DESC"/>
                                </hj:basic>
                                <jaxb:property name="tc40description"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc41description" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC41_DESC"/>
                                </hj:basic>
                                <jaxb:property name="tc41description"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc42description" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC42_DESC"/>
                                </hj:basic>
                                <jaxb:property name="tc42description"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc43description" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC43_DESC"/>
                                </hj:basic>
                                <jaxb:property name="tc43description"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc44description" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC44_DESC"/>
                                </hj:basic>
                                <jaxb:property name="tc44description"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc45description" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC45_DESC"/>
                                </hj:basic>
                                <jaxb:property name="tc45description"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc46description" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC46_DESC"/>
                                </hj:basic>
                                <jaxb:property name="tc46description"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc47description" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC47_DESC"/>
                                </hj:basic>
                                <jaxb:property name="tc47description"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc48description" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC48_DESC"/>
                                </hj:basic>
                                <jaxb:property name="tc48description"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc49description" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC49_DESC"/>
                                </hj:basic>
                                <jaxb:property name="tc49description"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc50description" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC50_DESC"/>
                                </hj:basic>
                                <jaxb:property name="tc50description"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc51description" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC51_DESC"/>
                                </hj:basic>
                                <jaxb:property name="tc51description"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc52description" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC52_DESC"/>
                                </hj:basic>
                                <jaxb:property name="tc52description"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc53description" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC53_DESC"/>
                                </hj:basic>
                                <jaxb:property name="tc53description"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc54description" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC54_DESC"/>
                                </hj:basic>
                                <jaxb:property name="tc54description"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc55description" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC55_DESC"/>
                                </hj:basic>
                                <jaxb:property name="tc55description"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc56description" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC56_DESC"/>
                                </hj:basic>
                                <jaxb:property name="tc56description"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc57description" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC57_DESC"/>
                                </hj:basic>
                                <jaxb:property name="tc57description"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc58description" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC58_DESC"/>
                                </hj:basic>
                                <jaxb:property name="tc58description"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc59description" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC59_DESC"/>
                                </hj:basic>
                                <jaxb:property name="tc59description"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc60description" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC60_DESC"/>
                                </hj:basic>
                                <jaxb:property name="tc60description"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc61description" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC61_DESC"/>
                                </hj:basic>
                                <jaxb:property name="tc61description"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc62description" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC62_DESC"/>
                                </hj:basic>
                                <jaxb:property name="tc62description"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc63description" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC63_DESC"/>
                                </hj:basic>
                                <jaxb:property name="tc63description"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc64description" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC64_DESC"/>
                                </hj:basic>
                                <jaxb:property name="tc64description"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc65description" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC65_DESC"/>
                                </hj:basic>
                                <jaxb:property name="tc65description"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc66description" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC66_DESC"/>
                                </hj:basic>
                                <jaxb:property name="tc66description"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc67description" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC67_DESC"/>
                                </hj:basic>
                                <jaxb:property name="tc67description"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc68description" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC68_DESC"/>
                                </hj:basic>
                                <jaxb:property name="tc68description"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc69description" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC69_DESC"/>
                                </hj:basic>
                                <jaxb:property name="tc69description"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc70description" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC70_DESC"/>
                                </hj:basic>
                                <jaxb:property name="tc70description"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc71description" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC71_DESC"/>
                                </hj:basic>
                                <jaxb:property name="tc71description"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc72description" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC72_DESC"/>
                                </hj:basic>
                                <jaxb:property name="tc72description"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc73description" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC73_DESC"/>
                                </hj:basic>
                                <jaxb:property name="tc73description"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc74description" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC74_DESC"/>
                                </hj:basic>
                                <jaxb:property name="tc74description"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc75description" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC75_DESC"/>
                                </hj:basic>
                                <jaxb:property name="tc75description"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc76description" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC76_DESC"/>
                                </hj:basic>
                                <jaxb:property name="tc76description"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc77description" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC77_DESC"/>
                                </hj:basic>
                                <jaxb:property name="tc77description"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc78description" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC78_DESC"/>
                                </hj:basic>
                                <jaxb:property name="tc78description"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc79description" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC79_DESC"/>
                                </hj:basic>
                                <jaxb:property name="tc79description"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc80description" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC80_DESC"/>
                                </hj:basic>
                                <jaxb:property name="tc80description"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc81description" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC81_DESC"/>
                                </hj:basic>
                                <jaxb:property name="tc81description"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc82description" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC82_DESC"/>
                                </hj:basic>
                                <jaxb:property name="tc82description"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc83description" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC83_DESC"/>
                                </hj:basic>
                                <jaxb:property name="tc83description"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc84description" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC84_DESC"/>
                                </hj:basic>
                                <jaxb:property name="tc84description"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc85description" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC85_DESC"/>
                                </hj:basic>
                                <jaxb:property name="tc85description"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc86description" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC86_DESC"/>
                                </hj:basic>
                                <jaxb:property name="tc86description"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc87description" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC87_DESC"/>
                                </hj:basic>
                                <jaxb:property name="tc87description"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc88description" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC88_DESC"/>
                                </hj:basic>
                                <jaxb:property name="tc88description"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc89description" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC89_DESC"/>
                                </hj:basic>
                                <jaxb:property name="tc89description"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc90description" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC90_DESC"/>
                                </hj:basic>
                                <jaxb:property name="tc90description"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc91description" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC91_DESC"/>
                                </hj:basic>
                                <jaxb:property name="tc91description"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc92description" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC92_DESC"/>
                                </hj:basic>
                                <jaxb:property name="tc92description"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc93description" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC93_DESC"/>
                                </hj:basic>
                                <jaxb:property name="tc93description"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc94description" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC94_DESC"/>
                                </hj:basic>
                                <jaxb:property name="tc94description"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc95description" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC95_DESC"/>
                                </hj:basic>
                                <jaxb:property name="tc95description"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc96description" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC96_DESC"/>
                                </hj:basic>
                                <jaxb:property name="tc96description"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc97description" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC97_DESC"/>
                                </hj:basic>
                                <jaxb:property name="tc97description"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc98description" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC98_DESC"/>
                                </hj:basic>
                                <jaxb:property name="tc98description"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc99description" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC99_DESC"/>
                                </hj:basic>
                                <jaxb:property name="tc99description"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

</xsd:schema>