EMU/exsys/ExsysDao/src/java/org/cern/cms/csc/exsys/re/schema/action.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://www.cern.ch/cms/csc/exsys/re/model"
    xmlns:tns="http://www.cern.ch/cms/csc/exsys/re/model"
    elementFormDefault="qualified"
    xmlns:fct="http://www.cern.ch/cms/csc/dw/model"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
    xmlns:hj="http://hyperjaxb3.jvnet.org/ejb/schemas/customizations"
    xmlns:orm="http://java.sun.com/xml/ns/persistence/orm"
    xmlns:cu="http://jaxb.dev.java.net/plugin/classutils"
    xmlns:ann="http://jaxb.dev.java.net/plugin/annotate"
    xsi:schemaLocation="http://java.sun.com/xml/ns/jaxb ext/bindingschema_2_0.xsd
                        http://java.sun.com/xml/ns/persistence/orm ext/orm_1_0.xsd
                        http://hyperjaxb3.jvnet.org/ejb/schemas/customizations ext/customizations.xsd"
    jaxb:extensionBindingPrefixes="orm hj cu ann"
    jaxb:version="2.0">

    <xsd:element name="actionExecution" type="tns:actionExecutionType"/>
    <xsd:element name="action" type="tns:actionType"/>

    <xsd:complexType name="actionExecutionType">
        <xsd:annotation>
            <xsd:appinfo>
                <jaxb:class name="ActionExecution"/>
                <cu:extends name="org.cern.cms.csc.dw.model.base.EntityBase"/>
                <hj:entity>
                    <orm:table name="RE_ACTION_EXECUTIONS"/>
                </hj:entity>
                <hj:generated-id name="id">
                    <orm:column name="REAE_ID"/>
                    <orm:sequence-generator name="RE_ACTION_EXECUTION_ID_SEQ" sequence-name="RE_ACTION_EXECUTION_ID_SEQ"/>
                </hj:generated-id>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="timeCreated" type="xsd:dateTime">
                <xsd:annotation>
                    <xsd:appinfo>
                        <hj:basic>
                            <orm:column name="REAE_TIME_CREATED" nullable="false"/>
                        </hj:basic>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="timeExecuted" type="xsd:dateTime">
                <xsd:annotation>
                    <xsd:appinfo>
                        <hj:basic>
                            <orm:column name="REAE_TIME_EXECUTED"/>
                        </hj:basic>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="timeClosed" type="xsd:dateTime">
                <xsd:annotation>
                    <xsd:appinfo>
                        <hj:basic>
                            <orm:column name="REAE_TIME_CLOSED"/>
                        </hj:basic>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="error" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>
                        <hj:basic>
                            <orm:column name="REAE_ERROR" length="102400"/>
                        </hj:basic>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="action" type="tns:actionType">
                <xsd:annotation>
                    <xsd:appinfo>
                        <hj:many-to-one merge="false">
                            <orm:join-column name="REAE_ACTION_ID" nullable="false"/>
                        </hj:many-to-one>
                        <jaxb:property name="action"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="trigger" type="tns:conclusionTriggerType">
                <xsd:annotation>
                    <xsd:appinfo>
                        <hj:many-to-one merge="false">
                            <orm:join-column name="REAE_TRIGGER_ID" nullable="false"/>
                        </hj:many-to-one>
                        <jaxb:property name="trigger"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="actionType" abstract="true">
        <xsd:annotation>
            <xsd:appinfo>
                <jaxb:class name="Action"/>
                <cu:extends name="org.cern.cms.csc.dw.model.base.EntityBase"/>
                <hj:entity>
                    <orm:table name="RE_ACTIONS"/>
                    <orm:inheritance strategy="JOINED"/>
                    <orm:discriminator-column name="REA_TYPE" length="64"/>
                </hj:entity>
                <hj:generated-id name="id">
                    <orm:column name="REA_ID"/>
                    <orm:sequence-generator name="RE_ACTION_ID_SEQ" sequence-name="RE_ACTION_ID_SEQ"/>
                </hj:generated-id>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="name" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>
                        <hj:basic>
                            <orm:column name="REA_NAME" length="128" nullable="false"/>
                        </hj:basic>
                        <jaxb:property name="name"/>
                        <ann:annotate xmlns:a="jsf.bean.gui.annotation">
                            <a:UseInTitle order="1"/>
                        </ann:annotate>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="conclusionTypes" type="tns:conclusionTypeType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:appinfo>
                        <hj:many-to-many merge="false">
                            <orm:join-table name="RE_ACTIONS_CONCLUSION_TYPES">
                                <orm:join-column name="REAC_ACTION_ID"/>
                                <orm:inverse-join-column name="REAC_CONCLUSION_TYPE_ID"/>
                            </orm:join-table>
                        </hj:many-to-many>
                        <jaxb:property name="conclusionTypes"/>
                        <ann:annotate xmlns:a="jsf.bean.gui.annotation">
                            <a:ImmutableReference/>
                        </ann:annotate>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="triggerType" type="tns:conclusionTriggerTypeType">
                <xsd:annotation>
                    <xsd:appinfo>
                        <hj:basic >
                            <orm:column name="REA_TRIGGER_TYPE" length="6" nullable="false"/>
                            <hj:enumerated-value/>
                        </hj:basic>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="isDeleted" type="xsd:boolean">
                <xsd:annotation>
                    <xsd:appinfo>
                        <hj:basic>
                            <orm:column name="REA_IS_DELETED" nullable="false"/>
                        </hj:basic>
                        <jaxb:property name="deleted"/>
                        <ann:annotate xmlns:a="jsf.bean.gui.annotation">
                            <a:NoManualInput createDefaultValue="false"/>
                        </ann:annotate>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="isEnabled" type="xsd:boolean">
                <xsd:annotation>
                    <xsd:appinfo>
                        <hj:basic>
                            <orm:column name="REA_IS_ENABLED" nullable="false"/>
                        </hj:basic>
                        <jaxb:property name="enabled"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="timeout" type="xsd:long">
                <xsd:annotation>
                    <xsd:appinfo>
                        <hj:basic>
                            <orm:column name="REA_TIMEOUT" nullable="false"/>
                        </hj:basic>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="acknowledgeConclusionOnExecution" type="xsd:boolean">
                <xsd:annotation>
                    <xsd:appinfo>
                        <hj:basic>
                            <orm:column name="REA_ACK_CONCL_ON_EXEC" nullable="false"/>
                        </hj:basic>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="acknowledgeConclusionOnCreate" type="xsd:boolean">
                <xsd:annotation>
                    <xsd:appinfo>
                        <hj:basic>
                            <orm:column name="REA_ACK_CONCL_ON_CREATE" nullable="false"/>
                        </hj:basic>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="notificationActionType" abstract="true">
        <xsd:annotation>
            <xsd:appinfo>
                <jaxb:class name="NotificationAction"/>
                <hj:entity>
                    <orm:table name="RE_NOTIFICATION_ACTIONS"/>
                </hj:entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="tns:actionType">
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="emailActionType">
        <xsd:annotation>
            <xsd:appinfo>
                <jaxb:class name="EmailAction"/>
                <hj:entity>
                    <orm:table name="RE_EMAIL_ACTIONS"/>
                </hj:entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="tns:notificationActionType">
                <xsd:sequence>
                    <xsd:element name="recipients" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="REEA_RECIPIENTS" length="1024" nullable="false"/>
                                </hj:basic>
                                <jaxb:property name="recipients"/>
                                <ann:annotate xmlns:a="jsf.bean.gui.annotation">
                                    <a:Label name="Recipients" description="Comma separated list of email addresses."/>
                                </ann:annotate>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="smsActionType">
        <xsd:annotation>
            <xsd:appinfo>
                <jaxb:class name="SmsAction"/>
                <hj:entity>
                    <orm:table name="RE_SMS_ACTIONS"/>
                </hj:entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="tns:notificationActionType">
                <xsd:sequence>
                    <xsd:element name="recipients" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="RESA_RECIPIENTS" length="1024" nullable="false"/>
                                </hj:basic>
                                <jaxb:property name="recipients"/>
                                <ann:annotate xmlns:a="jsf.bean.gui.annotation">
                                    <a:Label name="Recipients" description="Comma separated list of phone numbers."/>
                                </ann:annotate>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="commandActionType" abstract="true">
        <xsd:annotation>
            <xsd:appinfo>
                <jaxb:class name="CommandAction"/>
                <hj:entity>
                    <orm:table name="RE_COMMAND_ACTIONS"/>
                </hj:entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="tns:actionType">
                <xsd:sequence>
                    <xsd:element name="closeConclusionOnExecution" type="xsd:boolean">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="RECA_CLOSE_CONCL_ON_EXEC" nullable="false"/>
                                </hj:basic>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="dimPublicationActionType" abstract="true">
        <xsd:annotation>
            <xsd:appinfo>
                <jaxb:class name="DimPublicationAction"/>
                <hj:entity>
                    <orm:table name="RE_DIM_PUBLICATION_ACTIONS"/>
                </hj:entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="tns:commandActionType">
                <xsd:sequence>
                    <xsd:element name="serviceName" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="REA_DIM_SERVICE_NAME" length="128" nullable="false"/>
                                </hj:basic>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="dataType" type="tns:dimServiceDataTypeType">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic >
                                    <orm:column name="REA_DIM_DATA_TYPE" length="20" nullable="false"/>
                                    <hj:enumerated-value/>
                                </hj:basic>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:simpleType name="dimServiceDataTypeType">
        <xsd:annotation>
            <xsd:appinfo>
                <jaxb:typesafeEnumClass name="DimServiceDataType" />
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="string"/>
            <xsd:enumeration value="int"/>
            <xsd:enumeration value="long"/>
            <xsd:enumeration value="float"/>
            <xsd:enumeration value="double"/>
            <xsd:enumeration value="boolean"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="dcsCommandActionType">
        <xsd:annotation>
            <xsd:appinfo>
                <jaxb:class name="DcsCommandAction"/>
                <hj:entity>
                    <orm:table name="RE_DCS_COMMAND_ACTIONS"/>
                </hj:entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="tns:dimPublicationActionType">
                <xsd:sequence>
                    <xsd:element name="commandType" type="tns:dcsCommandTypeType">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic >
                                    <orm:column name="REA_DCS_COMMAND_TYPE" length="64" nullable="false"/>
                                    <hj:enumerated-value/>
                                </hj:basic>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="args" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="REA_DCS_ARGS" length="512" nullable="true"/>
                                </hj:basic>
                                <ann:annotate xmlns:a="jsf.bean.gui.annotation">
                                    <a:Label name="Additional Arguments" description="Comma separated list of additional arguments for the command (component is included by default)"/>
                                </ann:annotate>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:simpleType name="dcsCommandTypeType">
        <xsd:annotation>
            <xsd:appinfo>
                <jaxb:typesafeEnumClass name="DcsCommandType" />
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="hvChannelForceOn"/>
            <xsd:enumeration value="hvChannelVset"/>
            <xsd:enumeration value="hvChannelDisable"/>
        </xsd:restriction>
    </xsd:simpleType>

</xsd:schema>