EMU/cscdw/CdwModel/src/java/org/cern/cms/csc/dw/schema/ontology.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema
    targetNamespace="http://www.cern.ch/cms/csc/dw/ontology"
    xmlns:tns="http://www.cern.ch/cms/csc/dw/ontology"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    elementFormDefault="qualified"

    xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
	xmlns:hj="http://hyperjaxb3.jvnet.org/ejb/schemas/customizations"
	xmlns:orm="http://java.sun.com/xml/ns/persistence/orm"
    xmlns:xjc="http://java.sun.com/xml/ns/jaxb/xjc"
    xmlns:hip="http://jaxb.dev.java.net/plugin/hibernate"
    xsi:schemaLocation="
        http://java.sun.com/xml/ns/jaxb ext/bindingschema_2_0.xsd
        http://java.sun.com/xml/ns/persistence/orm ext/orm_1_0.xsd
        http://hyperjaxb3.jvnet.org/ejb/schemas/customizations ext/customizations.xsd"
	jaxb:extensionBindingPrefixes="xjc orm hj hip"
	jaxb:version="2.0">

    <xsd:include schemaLocation="ontologyClassifiers.xsd"/>

    <xsd:annotation>
        <xsd:appinfo>
            <jaxb:schemaBindings>
                <jaxb:package name="org.cern.cms.csc.dw.model.ontology"/>
            </jaxb:schemaBindings>
        </xsd:appinfo>
    </xsd:annotation>

    <xsd:complexType name="componentType">
      	<xsd:annotation>
    		<xsd:appinfo>
                <jaxb:class name="Component"/>
                <hj:entity>
                    <orm:table name="CDW_COMPONENTS"/>
                    <xjc:superClass name="org.cern.cms.csc.dw.model.base.ComponentBase"/>
                    <hip:cache usage="READ_WRITE"/>
                </hj:entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="componentClass" type="tns:componentClassType">
				<xsd:annotation>
					<xsd:appinfo>
                        <hj:many-to-one fetch="EAGER">
                            <orm:join-column name="CMP_CCL_ID"/>
                        </hj:many-to-one>
                        <jaxb:property name="componentClass"/>
					</xsd:appinfo>
				</xsd:annotation>
            </xsd:element>
            <xsd:element name="id" type="xsd:string">
				<xsd:annotation>
					<xsd:appinfo>
                        <hj:id>
                            <orm:column name="CMP_ID" length="255"/>
                        </hj:id>
					</xsd:appinfo>
				</xsd:annotation>
            </xsd:element>
            <xsd:element name="synonym" type="tns:componentSynonymType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:appinfo>
                        <hj:one-to-many fetch="LAZY">
                            <orm:join-column name="SYN_CMP_ID"/>
                        </hj:one-to-many>
                        <jaxb:property name="synonyms"/>
					</xsd:appinfo>
				</xsd:annotation>
            </xsd:element>
            <xsd:element name="link" type="tns:componentLinkType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:appinfo>
                        <hj:one-to-many fetch="LAZY">
                            <orm:join-column name="LIN_CMP_ID"/>
                        </hj:one-to-many>
                        <jaxb:property name="links"/>
					</xsd:appinfo>
				</xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="componentClassType">
      	<xsd:annotation>
    		<xsd:appinfo>
                <jaxb:class name="ComponentClass" />
                <hj:entity>
                    <orm:table name="CDW_COMPONENT_CLASSES"/>
                    <hip:cache usage="READ_WRITE"/>
                </hj:entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="id" type="tns:componentClassIdType">
				<xsd:annotation>
					<xsd:appinfo>
						<hj:id>
                            <orm:column name="CCL_ID"/>
                        </hj:id>
                        <hj:basic>
                            <hj:enumerated-value/>
                        </hj:basic>
                        <jaxb:property name="id"/>
					</xsd:appinfo>
				</xsd:annotation>
            </xsd:element>
            <xsd:element name="parent" type="tns:componentClassType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:appinfo>
                        <hj:many-to-many fetch="LAZY">
                            <orm:join-table name="CDW_COMPONENT_CLASS_PARENTS"/>
                        </hj:many-to-many>
                        <jaxb:property name="parents"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="componentSynonymType">
      	<xsd:annotation>
    		<xsd:appinfo>
                <jaxb:class name="ComponentSynonym" />
                <hj:entity>
                    <orm:table name="CDW_COMPONENT_SYNONYMS"/>
                    <hip:cache usage="READ_WRITE"/>
                </hj:entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="synonym" type="xsd:string">
				<xsd:annotation>
					<xsd:appinfo>
						<hj:id>
                            <orm:column name="SYN_SYNONYM" length="512"/>
                        </hj:id>
					</xsd:appinfo>
				</xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="componentLinkType">
      	<xsd:annotation>
    		<xsd:appinfo>
                <jaxb:class name="ComponentLink" />
                <hj:entity>
                    <orm:table name="CDW_COMPONENT_LINKS"/>
                    <hip:cache usage="READ_WRITE"/>
                </hj:entity>
                <hj:generated-id name="Id">
                    <orm:column name="LIN_ID"/>
                    <orm:sequence-generator name="CDW_LIN_ID_SEQ" sequence-name="CDW_LIN_ID_SEQ"/>
                </hj:generated-id>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="componentLinkClass" type="tns:componentLinkClassType">
				<xsd:annotation>
					<xsd:appinfo>
                        <hj:many-to-one fetch="EAGER">
                            <orm:join-column name="LIN_LCL_ID"/>
                        </hj:many-to-one>
					</xsd:appinfo>
				</xsd:annotation>
            </xsd:element>
            <xsd:element name="component" type="tns:componentType">
				<xsd:annotation>
					<xsd:appinfo>
                        <hj:many-to-one fetch="EAGER">
                            <orm:join-column name="LIN_LINKED_CMP_ID"/>
                        </hj:many-to-one>
					</xsd:appinfo>
				</xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="componentLinkClassType">
      	<xsd:annotation>
    		<xsd:appinfo>
                <jaxb:class name="ComponentLinkClass" />
                <hj:entity>
                    <orm:table name="CDW_COMPONENT_LINK_CLASSES"/>
                    <hip:cache usage="READ_WRITE"/>
                </hj:entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="id" type="tns:componentLinkClassIdType">
				<xsd:annotation>
					<xsd:appinfo>
						<hj:id>
                            <orm:column name="LCL_ID"/>
                        </hj:id>
                        <hj:basic>
                            <hj:enumerated-value/>
                        </hj:basic>
                        <jaxb:property name="id"/>
					</xsd:appinfo>
				</xsd:annotation>
            </xsd:element>
            <xsd:element name="inverse" type="tns:componentLinkClassType" minOccurs="0">
                <xsd:annotation>
                    <xsd:appinfo>
                        <hj:many-to-one fetch="LAZY">
                            <orm:join-column name="LCL_INVERSE_LCL_ID"/>
                        </hj:many-to-one>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="parent" type="tns:componentLinkClassType" minOccurs="0">
                <xsd:annotation>
                    <xsd:appinfo>
                        <hj:many-to-one fetch="LAZY">
                            <orm:join-column name="LCL_PARENT_LCL_ID"/>
                        </hj:many-to-one>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="transitive" type="xsd:boolean">
                <xsd:annotation>
                    <xsd:appinfo>
                        <hj:basic>
                            <orm:column name="LCL_TRANSITIVE"/>
                        </hj:basic>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="componentGraphLinkType">
      	<xsd:annotation>
    		<xsd:appinfo>
                <jaxb:class name="ComponentGraphLink" />
                <hj:entity>
                    <orm:table name="CDW_COMPONENT_GRAPH_LINKS"/>
                    <hip:cache usage="READ_WRITE"/>
                </hj:entity>
                <hj:generated-id name="Id">
                    <orm:column name="CGL_ID"/>
                    <orm:sequence-generator name="CDW_CGL_ID_SEQ"/>
                </hj:generated-id>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="parent" type="tns:componentType">
                <xsd:annotation>
                    <xsd:appinfo>
                        <hj:many-to-one fetch="LAZY">
                            <orm:join-column name="CGL_PARENT_CMP_ID"/>
                        </hj:many-to-one>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="child" type="tns:componentType">
                <xsd:annotation>
                    <xsd:appinfo>
                        <hj:many-to-one fetch="LAZY">
                            <orm:join-column name="CGL_CHILD_CMP_ID"/>
                        </hj:many-to-one>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="componentLinkClass" type="tns:componentLinkClassType">
                <xsd:annotation>
                    <xsd:appinfo>
                        <hj:many-to-one fetch="LAZY">
                            <orm:join-column name="CGL_LCL_ID"/>
                        </hj:many-to-one>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="level" type="xsd:integer">
                <xsd:annotation>
                    <xsd:appinfo>
                        <hj:basic>
                            <orm:column name="CGL_LEVEL"/>
                        </hj:basic>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

</xsd:schema>