EMU/cscdw/CdwModel/src/java/org/cern/cms/csc/dw/schema/tmbCounterFact.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://www.cern.ch/cms/csc/dw/model"
    xmlns:tns="http://www.cern.ch/cms/csc/dw/model"
    xmlns:dse="http://www.cern.ch/cms/csc/dw/model/dse"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    elementFormDefault="qualified"
	xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
	xmlns:hj="http://hyperjaxb3.jvnet.org/ejb/schemas/customizations"
	xmlns:orm="http://java.sun.com/xml/ns/persistence/orm"
	xmlns:xjc="http://java.sun.com/xml/ns/jaxb/xjc"
    xsi:schemaLocation="
        http://java.sun.com/xml/ns/jaxb ext/bindingschema_2_0.xsd
        http://java.sun.com/xml/ns/persistence/orm ext/orm_1_0.xsd
        http://hyperjaxb3.jvnet.org/ejb/schemas/customizations ext/customizations.xsd"
	jaxb:extensionBindingPrefixes="xjc orm hj"
	jaxb:version="2.0">

    <xsd:import namespace="http://www.cern.ch/cms/csc/dw/model/dse" schemaLocation="dataServiceEntity.xsd"/>

    <xsd:element name="tmbCounterFact"
                 type="tns:tmbCounterFactType"
                 substitutionGroup="tns:fact"/>

    <xsd:complexType name="tmbCounterFactType">
        <xsd:annotation>
            <xsd:appinfo>
                <jaxb:class name="TmbCounterFact"/>
                <hj:entity>
                    <orm:table name="CDW_TMB_CNT_FACTS"/>
                </hj:entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="tns:factType">
                <xsd:sequence>

                    <xsd:element name="version" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_VERSION" length="4"/>
                                </hj:basic>
                                <jaxb:property name="version"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="descriptions" type="dse:tmbCounterDescriptionDSEType" minOccurs="0">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:many-to-one>
                                    <orm:join-column name="FCT_DESCRIPTIONS"/>
                                </hj:many-to-one>
                                <jaxb:property name="descriptions"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc00" type="xsd:integer">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC00" precision="10" scale="0"/>
                                </hj:basic>
                                <jaxb:property name="tc00"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc01" type="xsd:integer">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC01" precision="10" scale="0"/>
                                </hj:basic>
                                <jaxb:property name="tc01"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc02" type="xsd:integer">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC02" precision="10" scale="0"/>
                                </hj:basic>
                                <jaxb:property name="tc02"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc03" type="xsd:integer">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC03" precision="10" scale="0"/>
                                </hj:basic>
                                <jaxb:property name="tc03"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc04" type="xsd:integer">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC04" precision="10" scale="0"/>
                                </hj:basic>
                                <jaxb:property name="tc04"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc05" type="xsd:integer">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC05" precision="10" scale="0"/>
                                </hj:basic>
                                <jaxb:property name="tc05"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc06" type="xsd:integer">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC06" precision="10" scale="0"/>
                                </hj:basic>
                                <jaxb:property name="tc06"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc07" type="xsd:integer">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC07" precision="10" scale="0"/>
                                </hj:basic>
                                <jaxb:property name="tc07"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc08" type="xsd:integer">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC08" precision="10" scale="0"/>
                                </hj:basic>
                                <jaxb:property name="tc08"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc09" type="xsd:integer">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC09" precision="10" scale="0"/>
                                </hj:basic>
                                <jaxb:property name="tc09"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc10" type="xsd:integer">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC10" precision="10" scale="0"/>
                                </hj:basic>
                                <jaxb:property name="tc10"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc11" type="xsd:integer">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC11" precision="10" scale="0"/>
                                </hj:basic>
                                <jaxb:property name="tc11"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc12" type="xsd:integer">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC12" precision="10" scale="0"/>
                                </hj:basic>
                                <jaxb:property name="tc12"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc13" type="xsd:integer">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC13" precision="10" scale="0"/>
                                </hj:basic>
                                <jaxb:property name="tc13"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc14" type="xsd:integer">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC14" precision="10" scale="0"/>
                                </hj:basic>
                                <jaxb:property name="tc14"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc15" type="xsd:integer">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC15" precision="10" scale="0"/>
                                </hj:basic>
                                <jaxb:property name="tc15"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc16" type="xsd:integer">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC16" precision="10" scale="0"/>
                                </hj:basic>
                                <jaxb:property name="tc16"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc17" type="xsd:integer">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC17" precision="10" scale="0"/>
                                </hj:basic>
                                <jaxb:property name="tc17"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc18" type="xsd:integer">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC18" precision="10" scale="0"/>
                                </hj:basic>
                                <jaxb:property name="tc18"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc19" type="xsd:integer">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC19" precision="10" scale="0"/>
                                </hj:basic>
                                <jaxb:property name="tc19"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc20" type="xsd:integer">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC20" precision="10" scale="0"/>
                                </hj:basic>
                                <jaxb:property name="tc20"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc21" type="xsd:integer">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC21" precision="10" scale="0"/>
                                </hj:basic>
                                <jaxb:property name="tc21"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc22" type="xsd:integer">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC22" precision="10" scale="0"/>
                                </hj:basic>
                                <jaxb:property name="tc22"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc23" type="xsd:integer">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC23" precision="10" scale="0"/>
                                </hj:basic>
                                <jaxb:property name="tc23"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc24" type="xsd:integer">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC24" precision="10" scale="0"/>
                                </hj:basic>
                                <jaxb:property name="tc24"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc25" type="xsd:integer">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC25" precision="10" scale="0"/>
                                </hj:basic>
                                <jaxb:property name="tc25"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc26" type="xsd:integer">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC26" precision="10" scale="0"/>
                                </hj:basic>
                                <jaxb:property name="tc26"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc27" type="xsd:integer">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC27" precision="10" scale="0"/>
                                </hj:basic>
                                <jaxb:property name="tc27"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc28" type="xsd:integer">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC28" precision="10" scale="0"/>
                                </hj:basic>
                                <jaxb:property name="tc28"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc29" type="xsd:integer">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC29" precision="10" scale="0"/>
                                </hj:basic>
                                <jaxb:property name="tc29"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc30" type="xsd:integer">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC30" precision="10" scale="0"/>
                                </hj:basic>
                                <jaxb:property name="tc30"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc31" type="xsd:integer">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC31" precision="10" scale="0"/>
                                </hj:basic>
                                <jaxb:property name="tc31"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc32" type="xsd:integer">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC32" precision="10" scale="0"/>
                                </hj:basic>
                                <jaxb:property name="tc32"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc33" type="xsd:integer">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC33" precision="10" scale="0"/>
                                </hj:basic>
                                <jaxb:property name="tc33"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc34" type="xsd:integer">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC34" precision="10" scale="0"/>
                                </hj:basic>
                                <jaxb:property name="tc34"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc35" type="xsd:integer">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC35" precision="10" scale="0"/>
                                </hj:basic>
                                <jaxb:property name="tc35"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc36" type="xsd:integer">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC36" precision="10" scale="0"/>
                                </hj:basic>
                                <jaxb:property name="tc36"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc37" type="xsd:integer">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC37" precision="10" scale="0"/>
                                </hj:basic>
                                <jaxb:property name="tc37"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc38" type="xsd:integer">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC38" precision="10" scale="0"/>
                                </hj:basic>
                                <jaxb:property name="tc38"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc39" type="xsd:integer">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC39" precision="10" scale="0"/>
                                </hj:basic>
                                <jaxb:property name="tc39"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc40" type="xsd:integer">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC40" precision="10" scale="0"/>
                                </hj:basic>
                                <jaxb:property name="tc40"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc41" type="xsd:integer">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC41" precision="10" scale="0"/>
                                </hj:basic>
                                <jaxb:property name="tc41"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc42" type="xsd:integer">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC42" precision="10" scale="0"/>
                                </hj:basic>
                                <jaxb:property name="tc42"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc43" type="xsd:integer">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC43" precision="10" scale="0"/>
                                </hj:basic>
                                <jaxb:property name="tc43"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc44" type="xsd:integer">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC44" precision="10" scale="0"/>
                                </hj:basic>
                                <jaxb:property name="tc44"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc45" type="xsd:integer">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC45" precision="10" scale="0"/>
                                </hj:basic>
                                <jaxb:property name="tc45"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc46" type="xsd:integer">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC46" precision="10" scale="0"/>
                                </hj:basic>
                                <jaxb:property name="tc46"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc47" type="xsd:integer">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC47" precision="10" scale="0"/>
                                </hj:basic>
                                <jaxb:property name="tc47"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc48" type="xsd:integer">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC48" precision="10" scale="0"/>
                                </hj:basic>
                                <jaxb:property name="tc48"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc49" type="xsd:integer">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC49" precision="10" scale="0"/>
                                </hj:basic>
                                <jaxb:property name="tc49"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc50" type="xsd:integer">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC50" precision="10" scale="0"/>
                                </hj:basic>
                                <jaxb:property name="tc50"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc51" type="xsd:integer">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC51" precision="10" scale="0"/>
                                </hj:basic>
                                <jaxb:property name="tc51"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc52" type="xsd:integer">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC52" precision="10" scale="0"/>
                                </hj:basic>
                                <jaxb:property name="tc52"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc53" type="xsd:integer">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC53" precision="10" scale="0"/>
                                </hj:basic>
                                <jaxb:property name="tc53"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc54" type="xsd:integer">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC54" precision="10" scale="0"/>
                                </hj:basic>
                                <jaxb:property name="tc54"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc55" type="xsd:integer">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC55" precision="10" scale="0"/>
                                </hj:basic>
                                <jaxb:property name="tc55"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc56" type="xsd:integer">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC56" precision="10" scale="0"/>
                                </hj:basic>
                                <jaxb:property name="tc56"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc57" type="xsd:integer">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC57" precision="10" scale="0"/>
                                </hj:basic>
                                <jaxb:property name="tc57"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc58" type="xsd:integer">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC58" precision="10" scale="0"/>
                                </hj:basic>
                                <jaxb:property name="tc58"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc59" type="xsd:integer">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC59" precision="10" scale="0"/>
                                </hj:basic>
                                <jaxb:property name="tc59"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc60" type="xsd:integer">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC60" precision="10" scale="0"/>
                                </hj:basic>
                                <jaxb:property name="tc60"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc61" type="xsd:integer">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC61" precision="10" scale="0"/>
                                </hj:basic>
                                <jaxb:property name="tc61"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc62" type="xsd:integer">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC62" precision="10" scale="0"/>
                                </hj:basic>
                                <jaxb:property name="tc62"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc63" type="xsd:integer">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC63" precision="10" scale="0"/>
                                </hj:basic>
                                <jaxb:property name="tc63"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc64" type="xsd:integer">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC64" precision="10" scale="0"/>
                                </hj:basic>
                                <jaxb:property name="tc64"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc65" type="xsd:integer">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC65" precision="10" scale="0"/>
                                </hj:basic>
                                <jaxb:property name="tc65"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc66" type="xsd:integer">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC66" precision="10" scale="0"/>
                                </hj:basic>
                                <jaxb:property name="tc66"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc67" type="xsd:integer">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC67" precision="10" scale="0"/>
                                </hj:basic>
                                <jaxb:property name="tc67"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc68" type="xsd:integer">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC68" precision="10" scale="0"/>
                                </hj:basic>
                                <jaxb:property name="tc68"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc69" type="xsd:integer">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC69" precision="10" scale="0"/>
                                </hj:basic>
                                <jaxb:property name="tc69"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc70" type="xsd:integer">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC70" precision="10" scale="0"/>
                                </hj:basic>
                                <jaxb:property name="tc70"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc71" type="xsd:integer">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC71" precision="10" scale="0"/>
                                </hj:basic>
                                <jaxb:property name="tc71"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc72" type="xsd:integer">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC72" precision="10" scale="0"/>
                                </hj:basic>
                                <jaxb:property name="tc72"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc73" type="xsd:integer">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC73" precision="10" scale="0"/>
                                </hj:basic>
                                <jaxb:property name="tc73"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc74" type="xsd:integer">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC74" precision="10" scale="0"/>
                                </hj:basic>
                                <jaxb:property name="tc74"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc75" type="xsd:integer">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC75" precision="10" scale="0"/>
                                </hj:basic>
                                <jaxb:property name="tc75"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc76" type="xsd:integer">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC76" precision="10" scale="0"/>
                                </hj:basic>
                                <jaxb:property name="tc76"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc77" type="xsd:integer">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC77" precision="10" scale="0"/>
                                </hj:basic>
                                <jaxb:property name="tc77"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc78" type="xsd:integer">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC78" precision="10" scale="0"/>
                                </hj:basic>
                                <jaxb:property name="tc78"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc79" type="xsd:integer">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC79" precision="10" scale="0"/>
                                </hj:basic>
                                <jaxb:property name="tc79"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc80" type="xsd:integer">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC80" precision="10" scale="0"/>
                                </hj:basic>
                                <jaxb:property name="tc80"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc81" type="xsd:integer">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC81" precision="10" scale="0"/>
                                </hj:basic>
                                <jaxb:property name="tc81"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc82" type="xsd:integer">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC82" precision="10" scale="0"/>
                                </hj:basic>
                                <jaxb:property name="tc82"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc83" type="xsd:integer">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC83" precision="10" scale="0"/>
                                </hj:basic>
                                <jaxb:property name="tc83"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc84" type="xsd:integer">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC84" precision="10" scale="0"/>
                                </hj:basic>
                                <jaxb:property name="tc84"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc85" type="xsd:integer">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC85" precision="10" scale="0"/>
                                </hj:basic>
                                <jaxb:property name="tc85"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc86" type="xsd:integer">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC86" precision="10" scale="0"/>
                                </hj:basic>
                                <jaxb:property name="tc86"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="tc87" type="xsd:integer">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <hj:basic>
                                    <orm:column name="FCT_TC87" precision="10" scale="0"/>
                                </hj:basic>
                                <jaxb:property name="tc87"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

</xsd:schema>