EMU/cscdw/CdwWS/src/FactTable.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="FactTable" targetNamespace="http://j2ee.netbeans.org/wsdl/FactTable" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://j2ee.netbeans.org/xsd/tableSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://j2ee.netbeans.org/wsdl/FactTable" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:jdbc="http://schemas.sun.com/jbi/wsdl-extensions/jdbc/">
  <types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://schemas.sun.com/jbi/wsdl-extensions/jdbc/">
            <xsd:import namespace="http://j2ee.netbeans.org/xsd/tableSchema" schemaLocation="factTable.xsd"/>
	</xsd:schema>
  </types>
  <message name="outputMsg">
    <part name="part" element="ns:CDW_FACTS"/>
  </message>
  <message name="insertRetMsg">
    <part name="part" type="xsd:int"/>
  </message>
  <message name="inputMsg">
    <part name="part" element="ns:CDW_FACTS"/>
  </message>
  <portType name="jdbcPortType">
    <operation name="insert">
      <input name="inputInsert" message="tns:inputMsg"/>
      <output name="outputInsert" message="tns:insertRetMsg"/>
    </operation>
    <operation name="update">
      <input name="inputUpdate" message="tns:inputMsg"/>
    </operation>
    <operation name="delete">
      <input name="inputDelete" message="tns:inputMsg"/>
    </operation>
    <operation name="find">
      <input name="inputFind" message="tns:inputMsg"/>
      <output name="outputFind" message="tns:outputMsg"/>
    </operation>
    <operation name="pollrecords">
      <input name="inputPoll" message="tns:inputMsg"/>
    </operation>
  </portType>
  <binding name="binding" type="tns:jdbcPortType">
    <jdbc:binding xmlns:jdbc="http://schemas.sun.com/jbi/wsdl-extensions/jdbc/"/>
    <operation name="insert">
    <jdbc:operation xmlns:jdbc="http://schemas.sun.com/jbi/wsdl-extensions/jdbc/"/>
      <input name="inputInsert">
    <jdbc:input xmlns:jdbc="http://schemas.sun.com/jbi/wsdl-extensions/jdbc/"
        MarkColumnName=""
        MarkColumnValue=""
        MoveRowToTableName=""
        PKName="FCT_ID"
        PollMilliSeconds="5000"
        PollingPostProcessing="MoveRow"
        TableName="CDW_FACTS" Transaction="NOTransaction" numberOfRecords="" operationType="insert"
        paramOrder="FCT_SRC_ID,FCT_VALUE,FCT_ID,FCT_FRACTION,FCT_LOWER_THRESHOLD,FCT_COMPONENT_ID,FCT_UPPER_THRESHOLD,FCT_SEV_ID,FCT_CREATE_TIME,FCT_FTY_ID,FCT_DESCR,FCT_SOURCE_TIME,FCT_STA_ID"
        sql="insert into CDW_FACTS (FCT_SRC_ID,FCT_VALUE,FCT_ID,FCT_FRACTION,FCT_LOWER_THRESHOLD,FCT_COMPONENT_ID,FCT_UPPER_THRESHOLD,FCT_SEV_ID,FCT_CREATE_TIME,FCT_FTY_ID,FCT_DESCR,FCT_SOURCE_TIME,FCT_STA_ID) values (?,?,?,?,?,?,?,?,?,?,?,?,?)"/>
      </input>
      <output name="outputInsert">
    <jdbc:output xmlns:jdbc="http://schemas.sun.com/jbi/wsdl-extensions/jdbc/" returnPartName="part"/>
      </output>
    </operation>
    <operation name="update">
    <jdbc:operation xmlns:jdbc="http://schemas.sun.com/jbi/wsdl-extensions/jdbc/"/>
      <input name="inputUpdate">
    <jdbc:input xmlns:jdbc="http://schemas.sun.com/jbi/wsdl-extensions/jdbc/" MarkColumnName="" MarkColumnValue="" MoveRowToTableName="" PKName="FCT_ID" PollMilliSeconds="5000" PollingPostProcessing="MoveRow" TableName="CDW_FACTS" Transaction="NOTransaction" numberOfRecords="" operationType="update" paramOrder="FCT_SRC_ID,FCT_VALUE,FCT_ID,FCT_FRACTION,FCT_LOWER_THRESHOLD,FCT_COMPONENT_ID,FCT_UPPER_THRESHOLD,FCT_SEV_ID,FCT_CREATE_TIME,FCT_FTY_ID,FCT_DESCR,FCT_SOURCE_TIME,FCT_STA_ID" sql="update CDW_FACTS set FCT_SRC_ID  = ?,FCT_VALUE  = ?,FCT_ID  = ?,FCT_FRACTION  = ?,FCT_LOWER_THRESHOLD  = ?,FCT_COMPONENT_ID  = ?,FCT_UPPER_THRESHOLD  = ?,FCT_SEV_ID  = ?,FCT_CREATE_TIME  = ?,FCT_FTY_ID  = ?,FCT_DESCR  = ?,FCT_SOURCE_TIME  = ?,FCT_STA_ID  = ?"/>
      </input>
    </operation>
    <operation name="delete">
    <jdbc:operation xmlns:jdbc="http://schemas.sun.com/jbi/wsdl-extensions/jdbc/"/>
      <input name="inputDelete">
    <jdbc:input xmlns:jdbc="http://schemas.sun.com/jbi/wsdl-extensions/jdbc/" MarkColumnName="" MarkColumnValue="" MoveRowToTableName="" PKName="FCT_ID" PollMilliSeconds="5000" PollingPostProcessing="MoveRow" TableName="CDW_FACTS" Transaction="NOTransaction" numberOfRecords="" operationType="delete" paramOrder="" sql="delete from CDW_FACTS"/>
      </input>
    </operation>
    <operation name="find">
    <jdbc:operation xmlns:jdbc="http://schemas.sun.com/jbi/wsdl-extensions/jdbc/"/>
      <input name="inputFind">
    <jdbc:input xmlns:jdbc="http://schemas.sun.com/jbi/wsdl-extensions/jdbc/" MarkColumnName="" MarkColumnValue="" MoveRowToTableName="" PKName="FCT_ID" PollMilliSeconds="5000" PollingPostProcessing="MoveRow" TableName="CDW_FACTS" Transaction="NOTransaction" numberOfRecords="" operationType="find" paramOrder="" sql="select FCT_SRC_ID,FCT_VALUE,FCT_ID,FCT_FRACTION,FCT_LOWER_THRESHOLD,FCT_COMPONENT_ID,FCT_UPPER_THRESHOLD,FCT_SEV_ID,FCT_CREATE_TIME,FCT_FTY_ID,FCT_DESCR,FCT_SOURCE_TIME,FCT_STA_ID from CDW_FACTS"/>
      </input>
      <output name="outputFind">
    <jdbc:output xmlns:jdbc="http://schemas.sun.com/jbi/wsdl-extensions/jdbc/" returnPartName="part"/>
      </output>
    </operation>
    <operation name="pollrecords">
    <jdbc:operation xmlns:jdbc="http://schemas.sun.com/jbi/wsdl-extensions/jdbc/"/>
      <input name="inputPoll">
    <jdbc:input xmlns:jdbc="http://schemas.sun.com/jbi/wsdl-extensions/jdbc/" MarkColumnName="" MarkColumnValue="" MoveRowToTableName="" PKName="FCT_ID" PollMilliSeconds="5000" PollingPostProcessing="Delete" TableName="CDW_FACTS" Transaction="NOTransaction" numberOfRecords="" operationType="poll" paramOrder="" sql="select FCT_SRC_ID,FCT_VALUE,FCT_ID,FCT_FRACTION,FCT_LOWER_THRESHOLD,FCT_COMPONENT_ID,FCT_UPPER_THRESHOLD,FCT_SEV_ID,FCT_CREATE_TIME,FCT_FTY_ID,FCT_DESCR,FCT_SOURCE_TIME,FCT_STA_ID from CDW_FACTS"/>
      </input>
    </operation>
  </binding>
  <service name="service">
    <port name="port" binding="tns:binding">
    <jdbc:address xmlns:jdbc="http://schemas.sun.com/jbi/wsdl-extensions/jdbc/" jndiName="jdbc/cdw"/>
    </port>
  </service>
    <plink:partnerLinkType xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype" name="jdbcpartner">
        <plink:role name="jdbcPortTypeRole" portType="tns:jdbcPortType"/>
    </plink:partnerLinkType>
</definitions>
