EMU/cscdw/ExsysWSTest/Cdw_schema2.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="http://www.cern.ch/cms/csc/dw/service" xmlns:tns="http://www.cern.ch/cms/csc/dw/service" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="serviceInstructions" type="tns:serviceInstructionsType"/>

  <xs:complexType name="serviceInstructionsType">
    <xs:sequence/>
    <xs:attribute name="async" type="xs:boolean"/>
    <xs:attribute name="strict" type="xs:boolean"/>
    <xs:attribute name="persist" type="xs:boolean"/>
  </xs:complexType>
</xs:schema>

