EMU/cscdw/ExsysWSTest/Cdw_schema5.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema elementFormDefault="qualified" version="1.0" targetNamespace="http://www.cern.ch/cms/csc/dw/model" xmlns:ns2="http://www.cern.ch/cms/csc/dw/ws/factCollectionInput" xmlns:ns1="http://www.cern.ch/cms/csc/dw/service" xmlns:ns4="http://www.cern.ch/cms/csc/dw/model/dse" xmlns:ns3="http://www.cern.ch/cms/csc/dw/ontology" xmlns:tns="http://www.cern.ch/cms/csc/dw/model" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:import namespace="http://www.cern.ch/cms/csc/dw/service" schemaLocation="Cdw_schema2.xsd"/>

  <xs:import namespace="http://www.cern.ch/cms/csc/dw/ws/factCollectionInput" schemaLocation="Cdw_schema1.xsd"/>

  <xs:import namespace="http://www.cern.ch/cms/csc/dw/ontology" schemaLocation="Cdw_schema3.xsd"/>

  <xs:import namespace="http://www.cern.ch/cms/csc/dw/model/dse" schemaLocation="Cdw_schema4.xsd"/>

  <xs:element name="DqmCscAfebFact" nillable="true" type="tns:DqmCscAfebFactType"/>

  <xs:element name="DqmCscCfebFact" nillable="true" type="tns:DqmCscCfebFactType"/>

  <xs:element name="DqmCscFact" nillable="true" type="tns:DqmCscFactType"/>

  <xs:element name="DqmCscHvSegmentFact" nillable="true" type="tns:DqmCscHvSegmentFactType"/>

  <xs:element name="DqmDduFact" nillable="true" type="tns:DqmDduFactType"/>

  <xs:element name="DqmDduInputFact" nillable="true" type="tns:DqmDduInputFactType"/>

  <xs:element name="DqmEmuFact" nillable="true" type="tns:DqmEmuFactType"/>

  <xs:element name="applicationStatusFact" nillable="true" type="tns:applicationStatusFactType"/>

  <xs:element name="cumulativeTmbTriggerCounterFact" nillable="true" type="tns:cumulativeTmbTriggerCounterFactType"/>

  <xs:element name="fact" nillable="true" type="tns:factType"/>

  <xs:element name="factCollection" nillable="true" type="tns:factCollectionType"/>

  <xs:element name="factRequest" nillable="true" type="tns:factRequestType"/>

  <xs:element name="factRequestCollection" nillable="true" type="tns:factRequestCollectionType"/>

  <xs:element name="localDAQStatusFact" nillable="true" type="tns:localDAQStatusFactType"/>

  <xs:element name="slidingTmbTriggerCounterFact" nillable="true" type="tns:slidingTmbTriggerCounterFactType"/>

  <xs:element name="tmbCounterFact" nillable="true" type="tns:tmbCounterFactType"/>

  <xs:complexType name="factCollectionType">
    <xs:complexContent>
      <xs:extension base="ns2:entityBase">
        <xs:sequence>
          <xs:element ref="ns1:serviceInstructions" minOccurs="0"/>
          <xs:element name="source" type="tns:sourceType"/>
          <xs:element name="requestId" type="xs:long" minOccurs="0"/>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="tns:fact"/>
            <xs:element ref="tns:cumulativeTmbTriggerCounterFact"/>
            <xs:element ref="tns:DqmCscFact"/>
            <xs:element ref="tns:DqmCscHvSegmentFact"/>
            <xs:element ref="tns:DqmCscCfebFact"/>
            <xs:element ref="tns:DqmDduFact"/>
            <xs:element ref="tns:slidingTmbTriggerCounterFact"/>
            <xs:element ref="tns:DqmCscAfebFact"/>
            <xs:element ref="tns:applicationStatusFact"/>
            <xs:element ref="tns:DqmDduInputFact"/>
            <xs:element ref="tns:tmbCounterFact"/>
            <xs:element ref="tns:DqmEmuFact"/>
            <xs:element ref="tns:localDAQStatusFact"/>
          </xs:choice>
        </xs:sequence>
        <xs:attribute name="Id" type="xs:long"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="cumulativeTmbTriggerCounterFactType">
    <xs:complexContent>
      <xs:extension base="tns:factType">
        <xs:sequence>
          <xs:element name="alctCount" type="xs:integer"/>
          <xs:element name="clctCount" type="xs:integer"/>
          <xs:element name="lctCount" type="xs:integer"/>
          <xs:element name="l1aCount" type="xs:integer"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="factType" abstract="true">
    <xs:complexContent>
      <xs:extension base="ns2:entityBase">
        <xs:sequence>
          <xs:element name="time" type="xs:dateTime"/>
          <xs:element name="component_id" type="xs:string"/>
          <xs:element name="run" type="xs:long" minOccurs="0"/>
          <xs:element name="severity" type="tns:severityType" minOccurs="0"/>
          <xs:element name="descr" type="xs:string" minOccurs="0"/>
          <xs:element name="component" type="ns3:componentType" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="Id" type="xs:long"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="slidingTmbTriggerCounterFactType">
    <xs:complexContent>
      <xs:extension base="tns:factType">
        <xs:sequence>
          <xs:element name="alctCount" type="xs:integer"/>
          <xs:element name="clctCount" type="xs:integer"/>
          <xs:element name="lctCount" type="xs:integer"/>
          <xs:element name="l1aCount" type="xs:integer"/>
          <xs:element name="windowWidth" type="xs:integer"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="DqmDduFactType">
    <xs:complexContent>
      <xs:extension base="tns:factType">
        <xs:sequence>
          <xs:element name="online" type="xs:boolean"/>
          <xs:element name="DDU_WITH_FORMAT_ERRORS" type="xs:long" minOccurs="0"/>
          <xs:element name="DDU_WITH_FORMAT_ERRORS_F" type="xs:float" minOccurs="0"/>
          <xs:element name="DDU_WITH_TRAILER_ERRORS" type="xs:long" minOccurs="0"/>
          <xs:element name="DDU_WITH_TRAILER_ERRORS_F" type="xs:float" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="DqmDduInputFactType">
    <xs:complexContent>
      <xs:extension base="tns:factType">
        <xs:sequence>
          <xs:element name="online" type="xs:boolean"/>
          <xs:element name="DDU_INPUT_IN_ERROR_STATE" type="xs:long" minOccurs="0"/>
          <xs:element name="DDU_INPUT_IN_WARNING_STATE" type="xs:long" minOccurs="0"/>
          <xs:element name="DDU_NO_INPUT_DATA" type="xs:long" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="DqmCscCfebFactType">
    <xs:complexContent>
      <xs:extension base="tns:factType">
        <xs:sequence>
          <xs:element name="online" type="xs:boolean"/>
          <xs:element name="CSC_WITH_LOW_CFEB_DAV_EFF" type="xs:long" minOccurs="0"/>
          <xs:element name="CSC_WITH_LOW_CFEB_DAV_EFF_F" type="xs:float" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="localDAQStatusFactType">
    <xs:complexContent>
      <xs:extension base="tns:factType">
        <xs:sequence>
          <xs:element name="daqState" type="xs:string"/>
          <xs:element name="isBuildingEvents" type="xs:boolean"/>
          <xs:element name="isSupervised" type="xs:boolean"/>
          <xs:element name="runType" type="tns:runTypeType"/>
          <xs:element name="state" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="applicationStatusFactType">
    <xs:complexContent>
      <xs:extension base="tns:factType">
        <xs:sequence>
          <xs:element name="state" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="DqmCscAfebFactType">
    <xs:complexContent>
      <xs:extension base="tns:factType">
        <xs:sequence>
          <xs:element name="online" type="xs:boolean"/>
          <xs:element name="CSC_ALCT_AFEB_NOISY" type="xs:long" minOccurs="0"/>
          <xs:element name="CSC_ALCT_NO_ANODE_DATA" type="xs:long" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="DqmCscHvSegmentFactType">
    <xs:complexContent>
      <xs:extension base="tns:factType">
        <xs:sequence>
          <xs:element name="online" type="xs:boolean"/>
          <xs:element name="CSC_NO_HV_SEGMENT" type="xs:long" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="tmbCounterFactType">
    <xs:complexContent>
      <xs:extension base="tns:factType">
        <xs:sequence>
          <xs:element name="version" type="xs:string"/>
          <xs:element name="descriptions" type="ns4:tmbCounterDescriptionDSEType" minOccurs="0"/>
          <xs:element name="tc00" type="xs:integer"/>
          <xs:element name="tc01" type="xs:integer"/>
          <xs:element name="tc02" type="xs:integer"/>
          <xs:element name="tc03" type="xs:integer"/>
          <xs:element name="tc04" type="xs:integer"/>
          <xs:element name="tc05" type="xs:integer"/>
          <xs:element name="tc06" type="xs:integer"/>
          <xs:element name="tc07" type="xs:integer"/>
          <xs:element name="tc08" type="xs:integer"/>
          <xs:element name="tc09" type="xs:integer"/>
          <xs:element name="tc10" type="xs:integer"/>
          <xs:element name="tc11" type="xs:integer"/>
          <xs:element name="tc12" type="xs:integer"/>
          <xs:element name="tc13" type="xs:integer"/>
          <xs:element name="tc14" type="xs:integer"/>
          <xs:element name="tc15" type="xs:integer"/>
          <xs:element name="tc16" type="xs:integer"/>
          <xs:element name="tc17" type="xs:integer"/>
          <xs:element name="tc18" type="xs:integer"/>
          <xs:element name="tc19" type="xs:integer"/>
          <xs:element name="tc20" type="xs:integer"/>
          <xs:element name="tc21" type="xs:integer"/>
          <xs:element name="tc22" type="xs:integer"/>
          <xs:element name="tc23" type="xs:integer"/>
          <xs:element name="tc24" type="xs:integer"/>
          <xs:element name="tc25" type="xs:integer"/>
          <xs:element name="tc26" type="xs:integer"/>
          <xs:element name="tc27" type="xs:integer"/>
          <xs:element name="tc28" type="xs:integer"/>
          <xs:element name="tc29" type="xs:integer"/>
          <xs:element name="tc30" type="xs:integer"/>
          <xs:element name="tc31" type="xs:integer"/>
          <xs:element name="tc32" type="xs:integer"/>
          <xs:element name="tc33" type="xs:integer"/>
          <xs:element name="tc34" type="xs:integer"/>
          <xs:element name="tc35" type="xs:integer"/>
          <xs:element name="tc36" type="xs:integer"/>
          <xs:element name="tc37" type="xs:integer"/>
          <xs:element name="tc38" type="xs:integer"/>
          <xs:element name="tc39" type="xs:integer"/>
          <xs:element name="tc40" type="xs:integer"/>
          <xs:element name="tc41" type="xs:integer"/>
          <xs:element name="tc42" type="xs:integer"/>
          <xs:element name="tc43" type="xs:integer"/>
          <xs:element name="tc44" type="xs:integer"/>
          <xs:element name="tc45" type="xs:integer"/>
          <xs:element name="tc46" type="xs:integer"/>
          <xs:element name="tc47" type="xs:integer"/>
          <xs:element name="tc48" type="xs:integer"/>
          <xs:element name="tc49" type="xs:integer"/>
          <xs:element name="tc50" type="xs:integer"/>
          <xs:element name="tc51" type="xs:integer"/>
          <xs:element name="tc52" type="xs:integer"/>
          <xs:element name="tc53" type="xs:integer"/>
          <xs:element name="tc54" type="xs:integer"/>
          <xs:element name="tc55" type="xs:integer"/>
          <xs:element name="tc56" type="xs:integer"/>
          <xs:element name="tc57" type="xs:integer"/>
          <xs:element name="tc58" type="xs:integer"/>
          <xs:element name="tc59" type="xs:integer"/>
          <xs:element name="tc60" type="xs:integer"/>
          <xs:element name="tc61" type="xs:integer"/>
          <xs:element name="tc62" type="xs:integer"/>
          <xs:element name="tc63" type="xs:integer"/>
          <xs:element name="tc64" type="xs:integer"/>
          <xs:element name="tc65" type="xs:integer"/>
          <xs:element name="tc66" type="xs:integer"/>
          <xs:element name="tc67" type="xs:integer"/>
          <xs:element name="tc68" type="xs:integer"/>
          <xs:element name="tc69" type="xs:integer"/>
          <xs:element name="tc70" type="xs:integer"/>
          <xs:element name="tc71" type="xs:integer"/>
          <xs:element name="tc72" type="xs:integer"/>
          <xs:element name="tc73" type="xs:integer"/>
          <xs:element name="tc74" type="xs:integer"/>
          <xs:element name="tc75" type="xs:integer"/>
          <xs:element name="tc76" type="xs:integer"/>
          <xs:element name="tc77" type="xs:integer"/>
          <xs:element name="tc78" type="xs:integer"/>
          <xs:element name="tc79" type="xs:integer"/>
          <xs:element name="tc80" type="xs:integer"/>
          <xs:element name="tc81" type="xs:integer"/>
          <xs:element name="tc82" type="xs:integer"/>
          <xs:element name="tc83" type="xs:integer"/>
          <xs:element name="tc84" type="xs:integer"/>
          <xs:element name="tc85" type="xs:integer"/>
          <xs:element name="tc86" type="xs:integer"/>
          <xs:element name="tc87" type="xs:integer"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="DqmCscFactType">
    <xs:complexContent>
      <xs:extension base="tns:factType">
        <xs:sequence>
          <xs:element name="online" type="xs:boolean"/>
          <xs:element name="CSC_FORMAT_ERRORS_BIT1" type="xs:long" minOccurs="0"/>
          <xs:element name="CSC_FORMAT_ERRORS_BIT1_F" type="xs:float" minOccurs="0"/>
          <xs:element name="CSC_FORMAT_ERRORS_BIT10" type="xs:long" minOccurs="0"/>
          <xs:element name="CSC_FORMAT_ERRORS_BIT10_F" type="xs:float" minOccurs="0"/>
          <xs:element name="CSC_FORMAT_ERRORS_BIT11" type="xs:long" minOccurs="0"/>
          <xs:element name="CSC_FORMAT_ERRORS_BIT11_F" type="xs:float" minOccurs="0"/>
          <xs:element name="CSC_FORMAT_ERRORS_BIT12" type="xs:long" minOccurs="0"/>
          <xs:element name="CSC_FORMAT_ERRORS_BIT12_F" type="xs:float" minOccurs="0"/>
          <xs:element name="CSC_FORMAT_ERRORS_BIT13" type="xs:long" minOccurs="0"/>
          <xs:element name="CSC_FORMAT_ERRORS_BIT13_F" type="xs:float" minOccurs="0"/>
          <xs:element name="CSC_FORMAT_ERRORS_BIT14" type="xs:long" minOccurs="0"/>
          <xs:element name="CSC_FORMAT_ERRORS_BIT14_F" type="xs:float" minOccurs="0"/>
          <xs:element name="CSC_FORMAT_ERRORS_BIT15" type="xs:long" minOccurs="0"/>
          <xs:element name="CSC_FORMAT_ERRORS_BIT15_F" type="xs:float" minOccurs="0"/>
          <xs:element name="CSC_FORMAT_ERRORS_BIT16" type="xs:long" minOccurs="0"/>
          <xs:element name="CSC_FORMAT_ERRORS_BIT16_F" type="xs:float" minOccurs="0"/>
          <xs:element name="CSC_FORMAT_ERRORS_BIT17" type="xs:long" minOccurs="0"/>
          <xs:element name="CSC_FORMAT_ERRORS_BIT17_F" type="xs:float" minOccurs="0"/>
          <xs:element name="CSC_FORMAT_ERRORS_BIT18" type="xs:long" minOccurs="0"/>
          <xs:element name="CSC_FORMAT_ERRORS_BIT18_F" type="xs:float" minOccurs="0"/>
          <xs:element name="CSC_FORMAT_ERRORS_BIT19" type="xs:long" minOccurs="0"/>
          <xs:element name="CSC_FORMAT_ERRORS_BIT19_F" type="xs:float" minOccurs="0"/>
          <xs:element name="CSC_FORMAT_ERRORS_BIT2" type="xs:long" minOccurs="0"/>
          <xs:element name="CSC_FORMAT_ERRORS_BIT2_F" type="xs:float" minOccurs="0"/>
          <xs:element name="CSC_FORMAT_ERRORS_BIT3" type="xs:long" minOccurs="0"/>
          <xs:element name="CSC_FORMAT_ERRORS_BIT3_F" type="xs:float" minOccurs="0"/>
          <xs:element name="CSC_FORMAT_ERRORS_BIT4" type="xs:long" minOccurs="0"/>
          <xs:element name="CSC_FORMAT_ERRORS_BIT4_F" type="xs:float" minOccurs="0"/>
          <xs:element name="CSC_FORMAT_ERRORS_BIT5" type="xs:long" minOccurs="0"/>
          <xs:element name="CSC_FORMAT_ERRORS_BIT5_F" type="xs:float" minOccurs="0"/>
          <xs:element name="CSC_FORMAT_ERRORS_BIT6" type="xs:long" minOccurs="0"/>
          <xs:element name="CSC_FORMAT_ERRORS_BIT6_F" type="xs:float" minOccurs="0"/>
          <xs:element name="CSC_FORMAT_ERRORS_BIT7" type="xs:long" minOccurs="0"/>
          <xs:element name="CSC_FORMAT_ERRORS_BIT7_F" type="xs:float" minOccurs="0"/>
          <xs:element name="CSC_FORMAT_ERRORS_BIT8" type="xs:long" minOccurs="0"/>
          <xs:element name="CSC_FORMAT_ERRORS_BIT8_F" type="xs:float" minOccurs="0"/>
          <xs:element name="CSC_FORMAT_ERRORS_BIT9" type="xs:long" minOccurs="0"/>
          <xs:element name="CSC_FORMAT_ERRORS_BIT9_F" type="xs:float" minOccurs="0"/>
          <xs:element name="CSC_HOT_CHAMBER" type="xs:long" minOccurs="0"/>
          <xs:element name="CSC_HOT_CHAMBER_F" type="xs:float" minOccurs="0"/>
          <xs:element name="CSC_LOW_EFF_CHAMBER" type="xs:long" minOccurs="0"/>
          <xs:element name="CSC_LOW_EFF_CHAMBER_F" type="xs:float" minOccurs="0"/>
          <xs:element name="CSC_WITH_BWORDS" type="xs:long" minOccurs="0"/>
          <xs:element name="CSC_WITH_BWORDS_F" type="xs:float" minOccurs="0"/>
          <xs:element name="CSC_WITH_FORMAT_ERRORS" type="xs:long" minOccurs="0"/>
          <xs:element name="CSC_WITH_FORMAT_ERRORS_F" type="xs:float" minOccurs="0"/>
          <xs:element name="CSC_WITH_INPUT_FIFO_FULL" type="xs:long" minOccurs="0"/>
          <xs:element name="CSC_WITH_INPUT_FIFO_FULL_F" type="xs:float" minOccurs="0"/>
          <xs:element name="CSC_WITH_INPUT_TIMEOUT" type="xs:long" minOccurs="0"/>
          <xs:element name="CSC_WITH_INPUT_TIMEOUT_F" type="xs:float" minOccurs="0"/>
          <xs:element name="CSC_WITH_L1A_OUT_OF_SYNC" type="xs:long" minOccurs="0"/>
          <xs:element name="CSC_WITH_L1A_OUT_OF_SYNC_F" type="xs:float" minOccurs="0"/>
          <xs:element name="CSC_WITHOUT_ALCT" type="xs:long" minOccurs="0"/>
          <xs:element name="CSC_WITHOUT_ALCT_F" type="xs:float" minOccurs="0"/>
          <xs:element name="CSC_WITHOUT_CFEB" type="xs:long" minOccurs="0"/>
          <xs:element name="CSC_WITHOUT_CFEB_F" type="xs:float" minOccurs="0"/>
          <xs:element name="CSC_WITHOUT_CLCT" type="xs:long" minOccurs="0"/>
          <xs:element name="CSC_WITHOUT_CLCT_F" type="xs:float" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="DqmEmuFactType">
    <xs:complexContent>
      <xs:extension base="tns:factType">
        <xs:sequence>
          <xs:element name="online" type="xs:boolean"/>
          <xs:element name="ALL_CHAMBER_EVENTS_AVERAGE" type="xs:long" minOccurs="0"/>
          <xs:element name="ALL_CHAMBER_EVENTS_COUNTER" type="xs:long" minOccurs="0"/>
          <xs:element name="ALL_CHAMBERS_WITH_BWORDS" type="xs:long" minOccurs="0"/>
          <xs:element name="ALL_CHAMBERS_WITH_FORMAT_ERRORS" type="xs:long" minOccurs="0"/>
          <xs:element name="ALL_CHAMBERS_WITH_INPUT_FIFO_FULL" type="xs:long" minOccurs="0"/>
          <xs:element name="ALL_CHAMBERS_WITH_INPUT_TIMEOUT" type="xs:long" minOccurs="0"/>
          <xs:element name="ALL_CHAMBERS_WITH_L1A_OUT_OF_SYNC" type="xs:long" minOccurs="0"/>
          <xs:element name="ALL_CHAMBERS_WITHOUT_ALCT" type="xs:long" minOccurs="0"/>
          <xs:element name="ALL_CHAMBERS_WITHOUT_CFEB" type="xs:long" minOccurs="0"/>
          <xs:element name="ALL_CHAMBERS_WITHOUT_CLCT" type="xs:long" minOccurs="0"/>
          <xs:element name="ALL_CHAMBERS_WITHOUT_DATA" type="xs:long" minOccurs="0"/>
          <xs:element name="ALL_DDU_EVENTS_AVERAGE" type="xs:long" minOccurs="0"/>
          <xs:element name="ALL_DDU_EVENTS_COUNTER" type="xs:long" minOccurs="0"/>
          <xs:element name="ALL_DDU_IN_READOUT" type="xs:long" minOccurs="0"/>
          <xs:element name="ALL_DDU_INPUT_IN_ERROR_STATE" type="xs:long" minOccurs="0"/>
          <xs:element name="ALL_DDU_INPUT_IN_WARNING_STATE" type="xs:long" minOccurs="0"/>
          <xs:element name="ALL_DDU_WITH_DATA" type="xs:long" minOccurs="0"/>
          <xs:element name="ALL_DDU_WITH_FORMAT_ERRORS" type="xs:long" minOccurs="0"/>
          <xs:element name="ALL_DDU_WITH_INPUT_IN_ERROR_STATE" type="xs:long" minOccurs="0"/>
          <xs:element name="ALL_DDU_WITH_INPUT_IN_WARN_STATE" type="xs:long" minOccurs="0"/>
          <xs:element name="ALL_DDU_WITH_LIVE_INPUTS" type="xs:long" minOccurs="0"/>
          <xs:element name="ALL_HOT_CHAMBERS" type="xs:long" minOccurs="0"/>
          <xs:element name="ALL_HOT_DDU_IN_READOUT" type="xs:long" minOccurs="0"/>
          <xs:element name="ALL_LOW_DDU_IN_READOUT" type="xs:long" minOccurs="0"/>
          <xs:element name="ALL_LOW_EFF_CHAMBERS" type="xs:long" minOccurs="0"/>
          <xs:element name="ALL_NO_DDU_IN_READOUT" type="xs:long" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="factRequestType">
    <xs:sequence>
      <xs:element name="component_id" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="factType" type="tns:factTypeType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="factRequestCollectionType">
    <xs:sequence>
      <xs:element name="requestId" type="xs:long"/>
      <xs:element name="factRequest" type="tns:factRequestType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="sourceType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DCS"/>
      <xs:enumeration value="LOCAL_DQM"/>
      <xs:enumeration value="LOCAL_DAQ"/>
      <xs:enumeration value="FED"/>
      <xs:enumeration value="Xmas"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="severityType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DEBUG"/>
      <xs:enumeration value="INFO"/>
      <xs:enumeration value="MINOR"/>
      <xs:enumeration value="TOLERABLE"/>
      <xs:enumeration value="WARN"/>
      <xs:enumeration value="ERROR"/>
      <xs:enumeration value="SEVERE"/>
      <xs:enumeration value="CRITICAL"/>
      <xs:enumeration value="FATAL"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="runTypeType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Monitor"/>
      <xs:enumeration value="SCA_Pedestals"/>
      <xs:enumeration value="Comparator_Thresh"/>
      <xs:enumeration value="Comparator_Spread"/>
      <xs:enumeration value="Comparator_LeftRight"/>
      <xs:enumeration value="Comparator_TimeOffset"/>
      <xs:enumeration value="Comparator_Rate"/>
      <xs:enumeration value="CFEB_Saturation"/>
      <xs:enumeration value="CFEB_Connectivity"/>
      <xs:enumeration value="CFEB_CompLogic"/>
      <xs:enumeration value="CFEB_CompThreshDAC"/>
      <xs:enumeration value="CFEB_PulseDAC"/>
      <xs:enumeration value="CFEB_NoiseMatrix"/>
      <xs:enumeration value="CFEB_Crosstalk"/>
      <xs:enumeration value="CFEB_Gains"/>
      <xs:enumeration value="AFEB_DAC"/>
      <xs:enumeration value="AFEB_TimeDelay"/>
      <xs:enumeration value="AFEB_NoiseRate"/>
      <xs:enumeration value="AFEB_Connectivity"/>
      <xs:enumeration value="AFEB_ALCT"/>
      <xs:enumeration value="AFEB_Pulse"/>
      <xs:enumeration value="HV_Scan"/>
      <xs:enumeration value="STEP"/>
      <xs:enumeration value="Debug"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="factTypeType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SlidingTmbTriggerCounterFact"/>
      <xs:enumeration value="CumulativeTmbTriggerCounterFact"/>
      <xs:enumeration value="TmbCounterFact"/>
      <xs:enumeration value="DqmCscAfebFact"/>
      <xs:enumeration value="DqmCscCfebFact"/>
      <xs:enumeration value="DqmCscFact"/>
      <xs:enumeration value="DqmCscHvSegmentFact"/>
      <xs:enumeration value="DqmDduFact"/>
      <xs:enumeration value="DqmDduInputFact"/>
      <xs:enumeration value="DqmEmuFact"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>

